<div class="card shadow-lg border-light mb-5">
    <div class="card-body">
        {% if post.parent %}
            {# todo: add a render limit #}
            {% include 'components/_post.html.twig' with {post: post.parent} only %}
        {% endif %}
        <div class="mb-2">
            <a href="{{ path('app_profile', {user: post.author}) }}" class="text-decoration-none d-flex flex-row text-black">
                <img src="{{ post.author.profilePicture
                ? asset(post.author.profilePicture)
                : asset('/build/images/pfp/defaultpfp.png') }}" width="60rem" height="60rem" style="object-fit: cover" class="rounded-circle me-1"
                     alt="{{ post.author.username }} profile picture"/>
                <div>
                    <b>
                        {{ post.author.displayName }}
                    </b><br>
                    <i class="text-secondary">@{{ post.author.username }}</i>
                </div>
            </a>
        </div>
        <p>{{ post.content }}</p>
        <i class="text-secondary">{{ post.createdAt.format('F j, Y H:i') }}</i>
    </div>
    <div class="card-footer d-flex flex-row justify-content-evenly">
        {% if app.user %}
            <button class="btn btn-light text-primary w-100" data-bs-toggle="modal" data-bs-target="#replyModal"
                    data-bs-id="{{ post.id }}">
                <i class="fa-regular fa-comments"></i>
            </button>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-light text-primary w-100">
                <i class="fa-regular fa-comments"></i>
            </a>
        {% endif %}
    </div>
</div>